.switch {
  margin: 0;
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
  border: 1px solid var(--border-color);
  outline: none;
  border-radius: 10px;
  box-sizing: border-box;
  background: var(--bg-color-mute);
  cursor: pointer;
  transition:
    border-color var(--el-transition-duration),
    background-color var(--el-transition-duration);
}

.switch:hover {
  border-color: var(--border-color-light);
}

.switch__action {
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: 50%;
  background-color: var(--bg-color);
  transform: translate(0);
  color: var(--text-color-light);
  transition:
    border-color var(--el-transition-duration),
    background-color var(--el-transition-duration),
    transform var(--el-transition-duration);
}

.dark .switch__action {
  transform: translate(20px);
}

.switch__icon {
  position: relative;
}

.switch__icon .el-icon {
  position: absolute;
  left: 1px;
  bottom: 1px;
}

.switch__action,
.switch__icon {
  width: 16px;
  height: 16px;
}

.switch:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
  outline-offset: 1px;
}
