// 间距/边距 单位值
$MP4: 4px;
$MP8: 8px;
$MP12: 12px;
$MP16: 16px;
$MP20: 20px;
$MP24: 24px;
$MP28: 28px;
$MP32: 32px;
$MP48: 48px;
$MP56: 56px;
$MP64: 64px;
$MP72: 72px;
$MP144: 144px;

// 边框圆角
$pg-border-radius: 3px;

// 字号
$pg-size12: 12px;
$pg-size14: 14px;
$pg-size16: 16px;
$pg-size18: 18px;
$pg-size20: 20px;
$pg-size22: 22px;
$pg-size24: 24px;
$pg-size26: 26px;
$pg-size28: 28px;
$pg-size30: 30px;
$pg-size32: 32px;
$pg-size34: 34px;
$pg-size36: 36px;
$pg-size46: 46px;
