:root {
  /* --------------------------------重写element-------------------------------- */
  --el-color-primary: #48e30a;

  /* --------------------------------自定义-------------------------------- */
  /* 文本高亮 */
  --color-text-highlight: #000;
  /* 固定黑色下的文本色 */
  --color-text-drak: #fff;
  --el-text-color-primary: #ccc;
}
html.dark {
  /* --------------------------------重写element-------------------------------- */
  --el-color-primary: #48e30a;

  /* --------------------------------自定义-------------------------------- */
  /* 文本高亮 */
  --color-text-highlight: #fff;
  /* 固定黑色下的文本色 */
  --color-text-drak: #fff;
}
